.dropbtn {
    background-color: #f9f9f9;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border:1.5px solid steelblue;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin-top: 38px;
    margin-left: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: lightgray}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightgray;
}